
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Doto:wght@100..900&family=Eater&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(180deg, #0D0D0D 0%, #292828 100%);
    color: #FFFFFF;
}

.main-ourmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 30px;
    max-width: 1500px;
    overflow: hidden;
    margin: auto;
}


.ourmenu-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    animation: title-animation 1.6s ease-in-out 2s; 
}

@keyframes title-animation {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
        text-shadow: 0px 0px 20px #fcfcfc;  
        /* text-shadow: 0px 0px 20px #f3cb19;  
        color: #f1a31c; */
    }
    to {
        transform: scale(1);
    }
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
    animation: menu-appearance 2s ease-out 0s;
}


@keyframes menu-appearance {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


.menu-item {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(227, 239, 249);
    gap: 20px;
    padding: 20px;
    padding-right: 0px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #2f2e2e;
}

.menu-image {
    /* max-height: 200px; */
    width: 100%;
    object-fit: contain;
}

.menu-name,
.menu-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.menu-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.price-block {
    display: flex;
    max-height: 30px;
    justify-content: space-between;
    align-items: center;
}

/* .menu-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
} */

.price-block__amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1a31c;
    padding: 3px 10px;
    border-radius: 20px 0px 0px 20px;
    color: #292828;
    gap: 10px;
    /* position: absolute;
    left: 60%; */
}

.price-block__amount-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0px 10px;
    border-radius: 12px;
}

.price-block__amount-btn-decrease,
.price-block__amount-btn-increase {
    /* background-color: #FFFFFF; */
    background-color: transparent;
    /* width: 20px;
    height: 30px; */
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #292828;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-block__amount {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    width: 40px;
    height: 32px;
    color: #292828;
    text-align: center;
    border: none;
}

.price-block__amount:focus {
    outline: none;
}

.basket-btn {
    background-color: transparent;
    border: none;
}

.basket-icon {
    width: 35px;
    padding: 3px 0px;
    object-fit: contain;
    transition: all 0.3s ease 0s;
}

.basket-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    filter: drop-shadow(0px 0px 3px #ffffff);
}

